{% extends "base.html" %}

{% block title %}{{ section.title }} &mdash; {{ config.title }}{% endblock title %}

{% block nav_links %}
    <li>
        <a href="{{ get_url(path='/about-site/') }}">About this site</a>
    </li>
    <li>
        <a href="{{ get_url(path='/about-me/') }}">About me</a>
    </li>
{% endblock nav_links %}

{% block content %}
    {{ section.content | safe }}

    <!-- Retrieve only the pages from the specific 'blog' section -->
    {% set blog_section = get_section(path="blog/_index.md") %}

    <!-- Loop through the pages within the blog section ONLY -->
    {% for page in blog_section.pages %}
    <div class="blog-entry-line">
        <div class="badge secondary blog-date">
            {{ page.date | date(format="%Y-%m-%d") }}
        </div>
        
        <a href="{{ page.permalink }}" class="blog-title-link">{{ page.title }}</a>
    </div>
    {% endfor %}

{% endblock content %}

